In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("/Users/sakethpachika/Desktop/Book1.csv")

In [5]:
def to_sentiment(star_rating):
    if star_rating in {1, 2}: # negative
        return -1 
    if star_rating == 3:      # neutral
        return 0
    if star_rating in {4, 5}: # positive
        return 1

    Rating  Index
0        1      1
1        2      2
2        3      3
3        4      4
4        5      5
5        1      6
6        4      7
7        3      8
8        3      9
9        2     10
10       4     11
11       4     12
12       5     13
13       5     14
14       3     15
15       5     16
16       5     17
17       3     18
18       2     19
19       2     20
20       1     21
21       2     22
22       5     23
23       2     24
24       4     25
25       3     26
26       2     27
27       2     28
28       2     29
29       4     30
30       3     31
31       2     32
32       5     33
33       1     34
34       3     35
35       3     36
36       3     37
37       1     38

In [15]:
df['sentiment'] = df['Rating'].apply(lambda star_rating: 
    to_sentiment(star_rating) 
)

In [20]:
from IPython.core.display import display, HTML

display(HTML('<b>Review <a>Last'))

In [17]:
region = 'abc'